form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
select,
button {
  padding: 5px;
  font-size: 14px;
}

button {
  cursor: pointer;
}

.form-group {
    display: flex;
    justify-content: space-between;
}