<div class="chess-rules">
    <div class="chess-rules__header">
        <button class="chess-rules__button" (click)="goBack()">Назад</button>
        <h1 class="chess-rules__header-title">Правила шахмат</h1>
    </div>

  <section class="chess-rules__section">
    <h2 class="chess-rules__section-title">Цель игры</h2>
    <p>
      В шахматах участвуют два игрока, один управляет белыми фигурами, другой —
      черными. Цель игры — поставить мат королю противника.
    </p>
  </section>

  <div class="chess-rules__separator"></div>

  <section class="chess-rules__section">
    <h2 class="chess-rules__section-title">Шахматные фигуры</h2>
    <ul>
      <li>
        <strong>Король:</strong> может перемещаться на одну клетку в любом
        направлении.
      </li>
      <li>
        <strong>Ферзь:</strong> перемещается по диагонали, горизонтали или
        вертикали на любое количество клеток.
      </li>
      <li>
        <strong>Ладья:</strong> перемещается по горизонтали или вертикали на
        любое количество клеток.
      </li>
      <li>
        <strong>Слон:</strong> перемещается по диагонали на любое количество
        клеток.
      </li>
      <li>
        <strong>Конь:</strong> перемещается буквой "Г", то есть две клетки в
        одном направлении и одна клетка перпендикулярно.
      </li>
      <li>
        <strong>Пешка:</strong> ходит на одну клетку вперед (на две клетки при
        первом ходе) и берет фигуры на диагональ вперед.
      </li>
    </ul>
  </section>

  <div class="chess-rules__separator"></div>

  <section class="chess-rules__section">
    <h2 class="chess-rules__section-title">Особые правила</h2>
    <ul>
      <li>
        <strong>Рокировка:</strong> специальный ход, при котором король и ладья
        могут переместиться одновременно, если для этого выполнены условия.
      </li>
      <li>
        <strong>Взятие на проходе:</strong> возможность взятия пешки соперника,
        если она двинулась на две клетки вперед с начальной позиции, и в это же
        время находится рядом с вашей пешкой.
      </li>
      <li>
        <strong>Промоция пешки:</strong> если пешка достигает противоположного
        края доски, она может превратиться в любую другую фигуру (кроме короля).
      </li>
    </ul>
  </section>

  <div class="chess-rules__separator"></div>

  <section class="chess-rules__section">
    <h2 class="chess-rules__section-title">Заключение игры</h2>
    <ul>
      <li>
        <strong>Шах:</strong> когда король находится под атакой, но может
        спастись.
      </li>
      <li>
        <strong>Шах и мат:</strong> когда король под атакой и не может избежать
        угрозы — это конец игры.
      </li>
      <li>
        <strong>Пат:</strong> ничья, когда у игрока, чей ход, нет допустимых
        ходов, но король не находится под шахом.
      </li>
    </ul>
  </section>

  <div class="chess-rules__separator"></div>

  <section class="chess-rules__section">
    <h2 class="chess-rules__section-title">Ресурсы для обучения</h2>
    <p>
      Если хотите углубить свои знания, обратитесь к официальным книгам по
      шахматам или посетите специализированные сайты для шахматистов.
    </p>
  </section>
</div>
