.chess-board {
  position: relative;
  max-width: 400px;
  margin: auto;

  .current-player {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .row {
    display: flex;
  }

  .cell {
    flex: 1;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #000;
  }

  .cell_white {
    background-color: #f0d9b5;
  }

  .cell_black {
    background-color: #b58863;
  }

  .cell_highlight {
    outline: 2px solid green;
  }

  .cell_capture {
    outline: 2px solid red;
  }

  .chess-piece {
    width: 80%;
    height: 80%;
  }
}
